.side-nav{
    position: fixed;
    min-height: 100vh;
    width: 20%;
    padding: 3%;
    top: 0;
    background-color: #fff;
}
.feedback{
    width: 490px;
    height: 350px;
}
.green-card{
    width: 450px;
    padding: 20px;
    margin: 4% 3%;
}
.lect-cards{
    margin-top: 4.5%;
}
.act-btn{
    background-color: #525CEB;
    color: #fff;
}
.text-xxs{
    font-size: 10px;
}
/* .lect-header {
    background-color: ;
} */